/* h1 {
    color: #ff0000;
    color: #f00;
    color: #00ff00;
    color: #0000ff;
    opacity: 0.5;
    background-color: #ff0000;

} */

/*RGB*/
h1{
    color: #ff0000;
    color: rgb(255,0,0);
    color: #00f;
    color: rgb(0,0,255);
    color: rgb(10,50,40)
}

/*RGBa*/
h1 {
    color: rgba(255,0,0,0.5);
    background-color: rgba(0,255,0,0.7);
}

h1 {
    /*hsl*/
    color: hsl(0,100%,50%);

}