/*The BOX MODEL*/

/*Global Selector and it selects every element*/
* {
    box-sizing: border-box;
}
/*This only make the padding and border included*/


/* .box {
    width: 200px;
    height: 200px;
    padding: 40px;
    margin: 40px;
    border: 10px solid;
} */
/*inline block , merging block and incline styling*/
a.link {
    display: inline;
    background-color: red;
}

h1 {
    background-color: orange;
    display: inline-block;
    
}

.box-1 {
    background-color: #f22;
    display: block;
    width: 400px;
    height: 200px;
    border: 10px solid rgb(246, 103, 103);
    padding: 20px;
    margin: 30px;
    box-sizing: border-box; /*This will not affect margin*/
    
}

/*Let the content fill the page do not set the height or it will restrict the size*/
.box-2 {
    background-color: #f22;
    /* display: block; */
    width: 400px;
    /* height: 200px;     */
    border: 10px solid;
    /*padding: 10px;*/
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 10px;
    /* box-sizing: border-box */
    
}